<nav class="navbar navbar-expand-lg fixed-top wmda-color" id="navbar-main" style="padding-right: 10px">
  <a class="navbar-brand" href="#">Marrow Donor Registry Simulator 2 v1.3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <%= page === 'model' ? 'active' : '' %>" id="model-mi">
	<a class="nav-link" href="/">Model</a>
      </li>
      <li class="nav-item <%= page === 'methodology' ? 'active' : '' %>" id="methodology-mi">
	<a class="nav-link" href="/methodology">Methodology</a>
      </li>
      <li class="nav-item <%= page === 'about' ? 'active' : '' %>" id="about-mi">
	<a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
  <div class="float-right" style="background-color: white">
    <a href="http://www.cvut.cz/" target="_blank"><img class="logo" src="img/logo-fit.png" alt="Logo FIT"></a>
    <a href="https://ccmi.fit.cvut.cz/" target="_blank"><img class="logo" src="img/logo-ccmi.png" alt="Logo CCMi"></a>
    <a href="https://www.zcu.cz" target="_blank"><img class="logo" src="img/logo-zcu.png" alt="Logo ZCU"></a>
    <a href="https://ntis.zcu.cz/en" target="_blank"><img class="logo" src="img/logo-ntis.gif" alt="Logo NTIS"></a>
  </div>
</nav>

