<div class="row" style="display: block">
  <h1>About</h1>
  <p>
  This portal is a result of a joint research project of <a href="http://www.fit.cvut.cz" target="_blank">FIT CTU</a> and <a href="https://zcu.cz" target="_blank">ZCU</a> supported by <a href="https://www.elixir-czech.cz/" target="_blank">ELIXIR CZ</a>. It is now an early stage of a working prototype, which we hope will gradually mature into a professionally crafted tool.
  </p>

  <h2>Development</h2>
  <table class="table borderless" style="width: auto;">
    <tbody>
      <tr>
	<td style="vertical-align: middle;">The source code is released under the open <a href="https://github.com/CCMi-FIT/MDR-Simulator-2/blob/master/LICENSE" target="_blank">Apache 2.0 Licence</a> and hosted on</td>
	<td><a href="https://github.com/CCMi-FIT/MDR-Simulator-2" target="_blank"><img src="img/logo-github.png" alt="GitHub logo"/></a></td>
      </tr>
    </tbody>
  </table>

  <h2>Contacts</h2>
  <table class="table">
    <tbody>
      <tr>
	<th>Methodology, development and operation</th>
	<td><a href="mailto:perglr@fit.cvut.cz" target="_blank">Ing. Robert Pergl, Ph.D.</a></td>
	<td>
	  <a href="https://ccmi.fit.cvut.cz" target="_blank">Centre for Conceptual Modelling and Implementation</a><br/>
	  <a href="http://fit.cvut.cz/en/faculty/structure/departmets/ksi" target="_blank">Department of Software Engineering</a><br/>
	  <a href="http://fit.cvut.cz/en" target="_blank">Faculty of Information Technology</a><br/>
	  <a href="https://www.cvut.cz/en" target="_blank">Czech Technical University in Prague</a></td>
      </tr>
      <tr>
	<th>Marrow Donor Registry experts</th>
	<td>
	  <p><a href="mailto:houdina@ntis.zcu.cz" target="_blank">Ing. Lucie Houdová, Ph.D.</a><br/><br/></p>
	  <p><a href="mailto:fetter@kky.zcu.cz" target="_blank">Ing. Miloš Fetter</a></p>
	</td>
	<td>
	  <p>
	  <a href="https://ntis.czu.cz/en" target="_blank">NTIS - New Technologies for the Information
	    ociety</a><br/>
	  <a href="https://zcu.cz/en" target="_blank">University of West Bohemia</a><br/>
	  </p>
	  <p>
	  <a href="http://www.kky.zcu.cz/en" target="_blank">Department of Cybernetics</a><br/>
	  <a href="https://zcu.cz/en" target="_blank">University of West Bohemia</a>
	  </p>
	</td>
      </tr>
    </tbody>
  </table>
</div>

