<div class="row" style="display: block">
  <h1>Methodology</h1>
  <h2>Model</h2>
  <p>
  The model is elaborated using the <a href="https://ontouml.org">Unified Foundational Ontology (UFO)</a> and the <a href="https://ontouml.org">OntoUML</a> ontologically well-founded modelling language in the form of a UML profile.
  </p>
  <p>
  The model consists of two interrelated parts:
  <ul>
    <li><strong>Conceptual structural model</strong> (UFO-A), which contains the various entity types and their relations.</li>
    <li><strong>Behavioural model</strong> (UFO-B), which shows the dynamic aspects of the domain.</li>
  </ul>
  </p>
  <p>
  The simulation is a result of a joint research project of <a href="http://www.fit.cvut.cz" target="_blank">FIT CTU</a> and <a href="https://zcu.cz" target="_blank">ZCU</a>, which was aimed at presenting the UFO-B in a comprehensible process-flow manner, together with the related UFO-A entities. More about the methodology will be published in a prepared paper.
  </p>
  <h2>Domain Knowledge</h2>
  <p>
  The Marrow Donor Registry domain knowledge comes from the knowledge of Czech National Marrow Donor Registry and international regulations <em>TODO</em>.
  </p>
</div>

