html, body {
  height: 100%;
}

.ufoa-inst-box {
  float: left;
  overflow: scroll;
  width: 50%;
}

.ufoa-box {
  width: 100%;
}

.float-toolbar {
  left: 500px;
  position: fixed;
  top: 120px;
}

.cover-toolbar {
  background-color: white;
  height: 29px;
  left: 125px;
  position: fixed;
  top: 93px;
  width: 399px;
}

.close {
  font-size: 24px;
  margin-left: 10px;
}

.dialog-box {
  left: 10px;
  position: fixed;
  top: 115px;
  width: 450px;
  z-index: 50;
}

.message-box {
  display: none;
  left: 350px;
  position: fixed;
  top: 70px;
  z-index: 100;
}

.entity-box {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.6;
}

.nopadding {
  margin: 0;
  padding: 0;
}

.assoc-box {
  text-align: center;
}

.diag-ufob {
  height: 100%;
  overflow: scroll;
  text-align: right;
}

.modal-90w {
  width: 90%;
}

.story-ufob {
  border: 1px solid gray;
  height: 20%;
  overflow-y: scroll;
  padding: 1em;
}

.suitability-panel {
  display: table;
}

.suitability-panel-left {
  display: table-cell;
  width: 800px;
}

.suitability-panel-right {
  display: table-cell;
  vertical-align: top;
  width: auto;
}

.logo-panel {
  background: white;
  float: right;
}

.logo {
  margin: 2px;
  max-height: 48px;
}

.img-help {
  max-width: 150px;
}

.img-help2 {
  max-width: 300px;
}

.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
  border: none;
}

.drop-shadow {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.badge-item {
  margin-bottom: 5px;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-error {
  background-color: #b94a48;
}

.badge-error:hover {
  background-color: #953b39;
}

.error-hint{
  color: #ff6b51;
  font-style: italic;
}

.bg-error {
    background-color: #f2dede;
}

.tooltip-error {
  background-color: #b94a48;
  color: white;
  margin: 0;
  padding: 0;
}

.toolbar {
  display: inline-block;
  padding-top: 10px;
}

.events-log-panel {
  left: 30px;
  position: absolute;
  top: 145px;
  z-index: 100;
}

/* Split */
.split, .gutter.gutter-horizontal {
    float: left;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
}
